body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}
/* // We use the "grid-template columns" property set to repeat(3, auto) which splits the contained divs (cells) into three columns allowing the cells to automatically decide their width.  */
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    background-color: cornflowerblue;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;

    line-height: 100px;
    font-size: 60px;
}

h1 {
    font-size: 40px;
    font-family: "Comic Sans MS", cursive;
    color: blue;

  }


  .cell:not(.disabled):hover {
    background: #eee;
}

.cell:nth-child(-n + 3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}